html{
	margin:0;
	padding:0;
}

body {
    position: relative;
    overflow:hidden;
	margin: 0px !important;
}

canvas {
	opacity:0.8;
}

.h_div {
    position: absolute;
    width: 500px;
    height: 200px;
    left: 30%;
    top:30%;
    background-blend-mode: darken;
    box-shadow: 
				inset -10px -10px 10px rgba(0, 0, 0, 0.4), 
				inset 10px 10px 10px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

}

.h1 {
    text-transform: uppercase;
    font: 2em sans-serif;
    text-shadow: slategrey;
    font-weight: 600;
    color: #f7797d;
    background: linear-gradient(to right, #C6FFDD,#FBD786,#f7797d)  !important;
    -webkit-background-clip:text !important;
    -webkit-text-fill-color:transparent !important;
    transition: all ease-in-out 0.8s;
    cursor: pointer;

}
.h1:hover {
    transform: scaleX(1.1);
}